<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
	<title>The Ferite Programming Language</title>
	<link rel="stylesheet" href="style.css" type="text/css">
	<link rel="SHORTCUT ICON" HREF="/favicon.ico">
</head>

<body>
<table width="100%" cellpadding=0 cellspacing=0 border=0>

	<!-- Top Row -->
	<tr class="TopRow">
		<td class="TopRow"><table width="100%" cellpadding=0 cellspacing=0 border=0>
			<tr class="TopRow">
				<td align="left" class="TopRowLeft">&nbsp;</td>
				<td align="right" class="TopRowRight">&nbsp;</td>
			</tr>
		</table> </td>
	</tr>

	<!-- Black Row -->
	<tr class="BlackRow"><td class="BlackRow"></td></tr>
	
	<!-- Middle Row -->
	<tr>
		<td class="MiddleRow"><table width="100%" cellpadding=0 cellspacing=0 border=0>
			<tr class="MiddleRow">
				<td class="MiddleRowLeft"> 
					<table cellpadding=0 cellspacing=0 border=0>
						<tr>
							<!-- Inactive -->
							<td class="InactiveLeft"> </td>
							<td class="InactiveMiddle">current: 1.1.19</td>
							<td class="InactiveRight"> </td>
						</tr>
					</table>								
				</td>
				<td class="MenuBar">
					<table cellpadding=0 cellspacing=0 border=0>
						<tr>
							<!-- Active -->
							<td class="ActiveLeft"> </td>
							<td class="ActiveMiddle"><a href="index.html">home</a></td>
							<td class="ActiveRight"> </td>
							<!-- Inactive -->
							<td class="InactiveLeft"> </td>
							<td class="InactiveMiddle"><a href="download.html">downloads</a></td>
							<td class="InactiveRight"> </td>
							<!-- Inactive -->
							<td class="InactiveLeft"> </td>
							<td class="InactiveMiddle"><a href="examples.html">examples</a></td>
							<td class="InactiveRight"> </td>
							<!-- Inactive -->
							<td class="InactiveLeft"> </td>
							<td class="InactiveMiddle"><a href="docs.html">documentation</a></td>
							<td class="InactiveRight"> </td>
							<!-- Inactive -->
							<td class="InactiveLeft"> </td>
							<td class="InactiveMiddle"><a href="contact.html">contact</a></td>
							<td class="InactiveRight"> </td>
						</tr>
					</table>
				</td>
			</tr>
		</table></td>
	</tr>
	
	<!-- Black Row -->
	<tr class="BlackRow"><td class="BlackRow"></td></tr>

	<!-- Main Row -->
	<tr>
		<td class="MainRow">
		<table width="100%" cellspacing=5 cellpadding=3>
			<tr>
				<td valign=top align="center">
					<table width="118" cellpadding=0 cellspacing=0 border=0>
						<tr><td class="MenuTop"></td></tr>
						<tr>
							<td class="MenuBackground">
								<a href="index.html"><span class="MenuMain">home</span></a> <br />
								<a href="about.html"><span class="MenuOther">about</span></a> <br />
								<a href="team.html"><span class="MenuOther">the team</span></a> <br />
							</td>
						</tr>
						<tr><td class="MenuBottom"></td></tr>
					</table>
					
					<p>
						<a href="http://opensource.org"><img class="borderimg" alt="Open Source Approved" src="http://opensource.org/trademarks/osi-certified/web/osi-certified-90x75.png"></a><br>
				    </p>
				</td>
				
				<td class="MainCentreColumn">
					<br />
					<br />
					<img src="images/ArrowDots.png" alt="Arrow Via Dots From Logo">
				</td>
				
				<td valign="top">
				
					<table width="100%" cellpadding=0 cellspacing=0 border=0>
						<tr>
							<td class="MainTopLeft"></td>
							<td class="MainTop"> </td>
							<td class="MainTopRight"></td>
						</tr>
						<tr>
							<td class="MainLeft"></td>
							<td class="MainBackground">
